<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cargar_notas" method="post">
        <div>
            <label for = "fecha">Fecha</label>
        <input type="date" id = "fecha" name="fecha" required>
    
    </div>

    <div>
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" required>
    </div>

    <div>
        <label for="descripcion">Descripcion</label>
        <input type="text" id="descripcion" name="descripcion" required>

    </div>

    <div>
      

    <input type="submit" value="Aceptar">
    <a href="/ver_notas">Ver_notas</a>
    
</body>
</html>