<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JaguaSkrip.com</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <!-- Representa el encabezado -->
    <header class="flex bg-[#011721] justify-between items-center py-4 px-8">
        <img src="/static/Logo Jagua Script.jpeg" alt="Logo Jagua Script" class="h-40 w-50">
        <!-- Barra de navegación -->
        <nav>
            <ul class="flex space-x-8 text-xl font-bold text-[#FFDD33]">
                <li><a href="">Contactanos (021) 495-778</a></li>
                <li><a href="">WhatsApp 0985701545</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección de servicios -->
    <section class="flex flex-col items-center py-20 bg-gray-100">
        <h1 class="text-4xl font-semibold text-center mb-10">Nuestros Servicios</h1>
        <p class="text-2xl text-center mb-6">
            Ofrecemos servicios de seguridad para el hogar y vehículos. Contamos con mucha experiencia en el sector, proporcionando soluciones fiables y efectivas.
        </p>
        <p class="text-2xl text-center mb-6">
            Nuestros productos incluyen sensores de movimiento, tableros de alarma, y muchos más.
        </p>
        <div class="flex flex-wrap justify-center mt-10">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
                <img class="w-full" src="/static/sensor de movimiento.png" alt="Sensor de movimiento">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Sensor de Movimientos</div>
                    <p class="text-gray-700 text-base">
                        Detecta movimientos que llegan a la central receptora de alarmas.
                    </p>
                </div>
            </div>
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
                <img class="w-full" src="/static/teclado alarma.png" alt="Tablero de alarma">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Tablero de Alarma</div>
                    <p class="text-gray-700 text-base">
                        Controla puertas y ventanas en caso de apertura y además puedes elegir qué zonas de tu casa quieres proteger.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-[#011721] text-[#FFDD33] py-6">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex flex-col items-start">
                <img src="/static/Logo Jagua Script.jpeg" alt="Logo Jagua Script" class="h-20 w-30 mb-4">
                <p class="text-xl">&copy; 2024 JaguaSkrip.com</p>
            </div>
            <div class="flex flex-col items-end">
                <nav>
                    <ul class="flex space-x-6 text-xl">
                        <li><a href="prueba.html">Inicio</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="prueba2.html">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>